<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trust Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/room.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/replay.js') }}"></script>
    </head>
    <body>
        <div id="container">
            <div id="info">
                <div id="human-infobox" class="infobox">
                    <p>human</p>
                    <p id="human-username" class="username"></p>
                </div>
                <div id="robot-infobox" class="infobox">
                    <p>robot</p>
                    <p id="robot-username" class="username"></p>
                </div>
            </div>
            <div id="game">
                <canvas id="board"></canvas>
            </div>
        </div>
        <script>
            var roomId = "{{ room_id }}"
            var history = JSON.parse("{{ history | tojson | safe }}")
        </script>
    </body>
</html>
