<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trust Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='room.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='room.js') }}"></script>
    </head>
    <body>
        <div id="container">
            <div id="info">
                <div id="human-infobox" class="infobox">
                    <p>human</p>
                    <p id="human-username" class="username"></p>
                </div>
                <div id="robot-infobox" class="infobox">
                    <p>robot</p>
                    <p id="robot-username" class="username"></p>
                </div>
            </div>
            <div id="game">
                <canvas id="board"></canvas>
            </div>
            <div id="joystick">
                <div id="button-interact" class="joystick-button">
                    <img src="{{ url_for('static', filename='button_interact.svg') }}">
                </div>
                <div id="button-up" class="joystick-button">
                    <img src="{{ url_for('static', filename='button_up.svg') }}">
                </div>
                <div id="button-down" class="joystick-button">
                    <img src="{{ url_for('static', filename='button_down.svg') }}">
                </div>
                <div id="button-left" class="joystick-button">
                    <img src="{{ url_for('static', filename='button_left.svg') }}">
                </div>
                <div id="button-right" class="joystick-button">
                    <img src="{{ url_for('static', filename='button_right.svg') }}">
                </div>
            </div>
            <div id="message-box">
                <p id="message">Waiting for your buddy...</p>
            </div>
        </div>
        <script>
            var roomId = "{{ room_id }}"
            var username = "{{ username }}"
            var state = {{ state | safe }}
        </script>
    </body>
</html>
