* {
    box-sizing: border-box;
    font-family: sans;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #2c3e50;
    display: grid;
    height: 100%;
    padding: 10px;
    width: 100%;
}

#container {
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    height: 500px;
    margin: auto;
    max-width: 500px;
    padding: 10px;
    grid-gap: 10px;
    grid-template-rows: auto 1fr;
    width: 100%;
}

#info {
    color: #fff;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#info .infobox {
    background-color: #c0392b;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#info .infobox .username {
    font-size: 25px;
    font-weight: bold;
}

#game {
    display: grid;
    width: 100%;
}

#game #board {
    margin: auto;
}

#joystick {
    background-color: #ecf0f155;
    border: 1px solid #ecf0f188;
    border-radius: 50%;
    bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 150px;
    position: absolute;
    right: 30px;
    width: 150px;
}

#joystick .joystick-button {
    height: 50px;
    padding: 10px;
    width: 50px;
}

#joystick .joystick-button img {
    height: 30px;
    width: 30px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#joystick #button-up {
    grid-row-start: 1;
    grid-column-start: 2;
}

#joystick #button-down {
    grid-row: 3;
    grid-column: 2;
}

#joystick #button-left {
    grid-row: 2;
    grid-column: 1;
}

#joystick #button-right {
    grid-row: 2;
    grid-column: 3;
}

#joystick #button-interact {
    grid-row: 2;
    grid-column: 2;
}

#message-box {
    background-color: #7f8c8d;
    border-radius: 5px;
    bottom: 0;
    color: #fff;
    padding: 10px 20px;
}

