<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trust Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form class="login-box" method="post" action="{{ url_for('login') }}">
            <img src="{{ url_for('static', filename='logo.jpg') }}">
            <input type="text" name="username" placeholder="Username" autofocus>
            <input type="text" name="room_id" placeholder="Room ID">
            <input type="submit" value="Login">
        </form>
    </body>
</html>