<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trust Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='room.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='room.js') }}"></script>
    </head>
    <body>
        <div class="header">
            <img src="{{ url_for('static', filename='logo.png') }}">
        </div>
        <div class="info">
            <div class="human-info"><p>human</p><p class="big" id="human-username">HumanUsername</p></div>
            <div class="robot-info"><p>robot</p><p class="big" id="robot-username">RobotUsername</p></div>
        </div>
        <div class="container">
            <canvas id="board" class="board"></canvas>
        </div>
        <script>
            var roomId = "{{ room_id }}"
            var username = "{{ username }}"
            var stateImage = {{ state_image | safe }}
        </script>
    </body>
</html>
